.card , .cardDisable{
    min-width: 230px;
    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1rem;

    button{
        border: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 68px;
        height: 100%;
        color: #1baf1b;
        background: white;
        font-size: 2rem;

    }
}

.title{
    font-size: 1.2rem;
    font-weight: 500;
}

.card{
    background-color: #fff;

    button{
        svg{
            cursor: pointer;
        }
    }
}

.cardDisable{
    background-color: #c6c3c3;

    button{
        background-color: #c6c3c3;
    }
}