.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 5px 8px 14px 3px #9d9d9d;
    width: 300px;
    img{
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }

    .headerContainer{
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: center;
        gap: 1rem;
    }
}

.drink{
    background: #fed766;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.footer{
    padding-bottom: 1rem;
}